<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revengemission.demo.dynamicdatasource.persistence.sqlserver.mapper.TagIndexMapper">
    <resultMap id="BaseResultMap" type="com.revengemission.demo.dynamicdatasource.persistence.sqlserver.entity.TagIndex">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tag_name" jdbcType="VARCHAR" property="tagName"/>
        <result column="tag_type" jdbcType="INTEGER" property="tagType"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, tag_name, tag_type
    </sql>
    <select id="count" parameterType="java.lang.String" resultType="java.lang.Integer" statementType="STATEMENT">
        select count(*) from ${tableName}
    </select>
    <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap" statementType="STATEMENT">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
    </select>
</mapper>